<footer class="mt-20 px-10 py-8">
    <div class="max-w-5xl mx-auto text-zinc-400 text-center uppercase italic font-thin">
    "What doesn't kill you makes you smaller" (Super Mario)
    </div>
</footer>